.div{
    margin-top: 3.4rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.image{
    width: 100vw;
    height: 30rem;
    z-index: -1;
    position: fixed;
    top: 5rem

}
.header{
    z-index: 99;
    
}